* {
    position: relative;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

body {
    background: black;
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    max-width: 1440px;
    width: 100%;
    padding: 10rem 10rem;

    @media (max-width:1000px) {
        padding: 5rem 5rem;
    }

    @media (max-width:767px) {
        padding: 3rem 3rem;
    }

    @media (max-width:420px) {
        padding: 1.5rem 1.5rem;
    }
}

#idHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 13rem;
    padding-top: 5rem;

    @media (max-width:1000px) {
        height: 10rem;
        padding-top: 5rem;
    }

    @media (max-width:768px) {
        height: 7rem;
        padding-top: 4rem;
    }

    @media (max-width:550px) {
        height: 5rem;
        padding-top: 3rem;
    }

    #logoArea {
        background-image: url(./assets/img/Fotogram_Logo.svg);
        background-repeat: no-repeat;
        height: 5rem;
        width: 30rem;
        cursor: pointer;

        @media (max-width:767px) {
            background-image: url(./assets/img/favicon/favicon.svg);
            height: 5rem;
            width: 5rem;
        }
    }
}

main {

    #idSecTitle {
        color: white;
        text-align: center;
        padding: 5rem 5rem;

        @media (max-width:768px) {
            padding: 4rem 4rem;
        }

        @media (max-width:550px) {
            padding: 3rem 2rem;
        }
    }

    #idSecAlbum {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;

        .shapeGalleryImgs {
            border-radius: 10px;
            width: 25rem;
            height: 20rem;
            object-fit: cover;
            aspect-ratio: auto;
            color: rgba(128, 128, 128, 0.349);

            @media (max-width:1000px) {
                width: 20rem;
                height: 15rem;
            }

            @media (max-width:768px) {
                width: 15rem;
                height: 10rem;
            }

            @media (max-width:550px) {
                width: 10rem;
                height: 7rem;
            }

            &:hover,
            &:focus {
                cursor: pointer;
                outline: 2px solid;
                outline-offset: 2px;
                transform: scale(1.05);
                filter: drop-shadow(0px 0px 10px teal);
            }

            &.active {
                outline: 3px solid red;
            }
        }

        #idDlg {
            border: 0;
            position: fixed;
            top: 50dvh;
            left: 50dvw;
            transform: translate(-50%, -50%);
            background: #0D323F;
            border-radius: 5rem;
            width: 50rem;
            height: 60rem;
            padding: 2rem 3rem;
            color: white;

            &.opened {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                gap: 2rem;
            }

            @media (max-width:1000px) {
                /* padding: 2rem 3rem; */
                /* width: 40rem; */
                /* height: 50rem; */
            }

            @media (max-width:768px) {
                width: 48rem;
                height: 55rem;
            }

            @media (max-width:600px) {
                width: 42rem;
                height: 50rem;
            }

            @media (max-width:550px) {
                width: 40rem;
                height: 45rem;
            }

            @media (max-width:500px) {
                padding: 1rem 1.5rem;
                padding-top: 2rem;
                border-radius: 2rem;
                width: 35rem;
                height: 40rem;
            }

            @media (max-width:450px) {
                width: 30rem;
                height: 40rem;
            }

            /* backdrop styles */
            &::backdrop {
                background: #040f13;
                opacity: 0.7;
            }

            button:hover,
            button:focus {
                cursor: pointer;
                transform: scale(1.05);
                filter: drop-shadow(0px 0px 10px teal);
            }

            #idDlgHeader {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media (max-width:420px) {
                }

                #idDlgHTitle {

                    @media (max-width:550px) {
                        font-size: 1.2em;
                    }

                    @media (max-width:500px) {
                        font-size: 1em;
                    }

                    @media (max-width:450px) {
                        font-size: 0.8em;
                    }
                }

                #idDlgBtnClose {
                    border: 0;
                    background: #0D323F;
                    border-radius: 5rem;

                    img {
                        background: #1fddf6a4;
                        width: 3rem;
                        border-radius: 5rem;
                        box-shadow: 0rem 0rem 1rem 1rem #1fddf6a4;
                        filter: invert(0.8);
                    }
                }
            }

            #idDlgImgsContainer {
                width: 100%;
                height: 45rem;
                overflow: hidden;

                img {
                    border-radius: 10px;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    color: rgba(128, 128, 128, 0.349);
                }

                @media (max-width:1000px) {}

                @media (max-width:768px) {}

                @media (max-width:550px) {}

                @media (max-width:480px) {}
            }

            #idSteeringArea {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 3rem;

                @media (max-width:600px) {
                    padding: 2rem;
                }

                @media (max-width:480px) {
                    padding: 1rem;
                }

                #idShowPosInfo {
                    width: 10rem;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media (max-width:550px) {
                        font-size: 1.2em;
                    }

                    @media (max-width:500px) {
                        font-size: 1em;
                    }

                    @media (max-width:450px) {
                        font-size: 0.8em;
                    }
                }

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #0D323F;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 5rem;
                    border: 0;
                    padding: 0rem;

                    @media (max-width:600px) {
                        /* width: 2rem; */
                    }

                    @media (max-width:420px) {
                        /* width: 2rem; */
                    }

                    .dlgImgArrows {
                        background: #1fddf6a4;
                        width: 3rem;
                        border-radius: 5rem;
                        box-shadow: 0rem 0rem 1rem 1rem #1fddf6a4;
                        filter: invert(0.8);

                        @media (max-width:600px) {
                            width: 2rem;
                        }
                    }
                }
            }
        }
    }
}

#idFooter {
    margin-top: auto;
    padding: 3rem 0;
    background: #0D3240;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    #da_logoArea {
        background-image: url(./assets/img/da_logo_white.svg);
        background-repeat: no-repeat;
        height: 50px;
        width: 160px;
        cursor: pointer;

        @media (max-width:767px) {
            background-image: url(./assets/img/da_logo_small.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 5rem;
            width: 5rem;
            border-radius: 10px;
        }
    }

    p {
        color: #99ACB3;
        text-align: center;

        @media (max-width:767px) {
            font-size: 12px;
        }

        @media (max-width:420px) {
            font-size: 1rem;
        }
    }
}